# Go build artifacts
bin/
dist/
target/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Go test binaries & outputs
*.test
*.out

# Go coverage & profiling data
coverage.*
coverage/
*.cover
*.coverprofile
*.cov
*.pprof
*.prof

# OS-specific files
.DS_Store
Thumbs.db

# IDE / Editor configuration
.idea/
.vscode/
*.iml
